@{
    ViewData["Title"] = "Benifits";
}

<section class="form">
    <div class="container">      
        <div class="form-sec">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Benefits</th>
                            <th scope="col">Your Plan(Agency) (AED 1,990.00)<i class="fa fa-info-circle" aria-hidden="true"></i></th>
                            <th scope="col">Your Plan(Non Agency) (AED 1,008.00)<i class="fa fa-info-circle" aria-hidden="true"></i></th>
                            <th scope="col">Third Party (AED 700.00)<i class="fa fa-info-circle" aria-hidden="true"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Loss or damage to the insured vehicle</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Third party liability (bodily injury) – Unlimited</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Third party property damage – up to AED 3,500,000</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td>AED 2,000,000</td>
                        </tr>
                        <tr>
                            <th scope="row">24 Hour Accident & Breakdown Recovery</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Fire and theft cover</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">No excess for windscreen damage – up to AED 4,000</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Oman cover – own damage</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Motor garage and / or valet parking (theft)</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Personal belongings/ personal effects – up to AED 5,000 per accident</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Ambulance cost – up to AED 6,770 per person</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Third party liability to family members – up to AED 200,000 per person</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Natural perils</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Personal accident benefits for driver – up to AED 200.000</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Personal accident benefits for passengers – up to AED 200,000 per passenger</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Emergency medical expenses – up to AED 5,000</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Complimentary car registration / renewal service (*One free service per year)</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Replacement of Locks – up to AED 1,000</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Child Care Seat Replacement – up to AED 2,000</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr>
                            <th scope="row">Temporary rent a car – For 10 days per claim</th>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-check-circle" aria-hidden="true"></i></td>
                            <td><i class="fa fa-times cancel" aria-hidden="true"></i></td>
                        </tr>
                        <tr class="heading">
                            <th scope="row">Choose Optional Benefits</th>
                        </tr>
                        <tr>
                            <th scope="row">Road Side Assistance</th>
                            <td> AED 20 <i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                            <td> AED 20 <i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                            <td>AED 20 <i class="fa fa-plus-circle" aria-hidden="true"></i></td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
</section>
